.lt-main {
  background-color: #fff;
  height: 100%;
  position: relative;
}
.lt-main .products {
  padding: 10px;
}
.lt-main .products li {
  width: 33.33%;
  float: left;
  background-color: #aaa;
}
.lt-main .products li img {
  width: 100%;
  display: block;
}
.lt-main .product-list {
  padding: 0 10px;
}
.lt-main .product-list .product-list-item {
  width: 48%;
  float: left;
  margin-bottom: 10px;
}
.lt-main .product-list .product-list-item a {
  display: block;
  background-color: #fff;
  text-align: center;
  border: 1px solid #797272;
  border-radius: 8px;
}
.lt-main .product-list .product-list-item a img {
  width: 60%;
}
.lt-main .product-list .product-list-item a .prices span:first-child {
  color: red;
}
.lt-main .product-list .product-list-item a button {
  margin-bottom: 20px;
}
.lt-main .product-list .product-list-item:nth-child(even) {
  float: right;
}
