.lt-main {
  background-color: #fff;
  height: 100%;
  position: relative;
  .products {
    padding: 10px;
    li {
      width: 33.33%;
      float: left;
      background-color: #aaa;
      img {
        width: 100%;
        display: block;
      }
    }
  }
  .product-list {
    padding: 0 10px;
    .product-list-item {
      width: 48%;
      float: left;
      margin-bottom: 10px;
      a {
        display: block;
        background-color: #fff;
        text-align: center;
        border: 1px solid rgb(121, 114, 114);
        border-radius: 8px;

        img {
          width: 60%;
        }
        .prices {
          span:first-child {
            color: red;
          }
        }
        button {
          margin-bottom: 20px;
        }
      }
    }
    .product-list-item:nth-child(even) {
      float: right;
    }
  }
}
