.body_bg {
  background-color: #222d32;
}
html,
body {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.red {
  color: #a94442;
}
.table.table-bordered th,
.table.table-bordered td {
  text-align: center;
  vertical-align: middle;
}
.mt_150 {
  margin-top: 150px;
}
.mb_20 {
  margin-bottom: 20px;
}
.panel-title {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}
.lt-left {
  width: 180px;
  height: 100%;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  transition: transform 0.5s linear;
}
.lt-left .brand {
  height: 50px;
  line-height: 50px;
  background-color: #367fa9;
  text-align: center;
  font-size: 24px;
}
.lt-left .user {
  height: 180px;
  text-align: center;
  margin-top: 15px;
}
.lt-left .user img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.lt-left .user span {
  font-size: 16px;
}
.lt-left .lt-nav {
  text-align: center;
}
.lt-left .lt-nav a {
  display: block;
  color: white;
  padding: 10px 0;
}
.lt-left .lt-nav a > span:first-child {
  margin-right: 5px;
}
.lt-left .lt-nav a.current {
  background-color: #1d1f21;
  border-left: 3px solid #006699;
}
.lt-main {
  padding-left: 180px;
  position: relative;
  transition: padding-left 0.5s linear;
}
.lt-main .topbar {
  height: 50px;
  background-color: #367fa9;
  position: fixed;
  width: 100%;
  padding-left: 180px;
  transition: padding-left 0.5s linear;
  top: 0;
  right: 0;
}
.lt-main .topbar a {
  width: 50px;
  height: 50px;
  text-align: center;
}
.lt-main .topbar a span {
  color: white;
  line-height: 50px;
  font-size: 24px;
}
.lt-main .main {
  padding-top: 50px;
  height: 1000px;
  background-color: #ccc;
}
.lt-main .main .breadcrumb {
  padding: 5px 10px;
  margin: 20px 10px;
}
.lt-main .main .content {
  height: 400px;
}
.lt-main .main .content .left-bar {
  height: 100%;
}
.lt-main .main .content .right-bar {
  height: 100%;
}
.lt-left.hideLeft {
  transform: translateX(-180px);
}
.lt-main.hideLeft {
  padding-left: 0px;
}
.topbar.hideLeft {
  padding-left: 0px;
}
